:root {
   --color-neutral-light:#ffffff;
   --color-neutral-medium:#eeeeee;
   --color-neutral-dark:##4b4848;


    --color-main-light: #ffffff;
    --color-main-medium: #4b4848;
    --color-main-dark: #000000;

    --color-alt-light: #ffffff;
    --color-alt-medium: #4b4848;
    --color-alt-dark: #27055c;
    
    --color-warning: #ffffff;
    --color-error: #4b4848;
    --color-purchase: #000000;
}

body {
   font-family:'Rubik',EXO2;
   background-color:#ffffff;
   padding-bottom:10em;
}




.view-window>h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(0,0,0,0.3);
    padding: 1em;
    border-radius: 1em;
    color: white;
    font-size: 3em;
}

[class*='col-']>.card {
  height:100%;
  margin:0;
}


[class*='col-']>.well {
  height:100%;
}






/* Product List Design */
.product-item {
    margin: 0;
    border-radius:0.7em;
    background-color:white;
    box-shadow:1px 1px 4px rgba(0,0,0,0.2);
    padding:1em;
    transition:all 0.3s;
}
.product-item:hover {
    box-shadow:1px 1px 12px rgba(0,0,0,0.4);
}
.product-image img {
   width:100%;
}
.product-price,
.product-title {
   font-weight:normal;
}
a:hover .product-item {
   text-decoration:none !important;
}
.product-price {
    font-size: 1.2em;
    padding: 0.2em 0.4em;
}
.product-title {
    font-size: 1.7em;
}

.cart-product-image img{
  width: 140px;
  margin: 0 2.5em;
}


.button {
    background-color: var(--color-main-light);
    border: 1px solid #A59695;
    color: var(--color-main-dark);
    padding: 0.5em 1.2em;
    border-radius: 0.2em;
    font-family: 'Playfair Display', serif;
    font-size: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    position: relative;

@media (max-width:600px) {
  h2 {
    font-size:1em;
  }
}